@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-volkswagen: "Volkswagen", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Volkswagen";
  src: url("/fonts/Volkswagen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-volkswagen {
  font-family: var(--font-volkswagen);
}

/* Tailwind CSS theme configuration */
@layer theme {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
}